body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTR_LXD6I5AoZ5u3dw_PQWXND2l8NqbPOItFETi0U4UGYbDUzIG");
    background-position: center center;
     background-repeat: repeat;
    background-size: cover;

}