body{
    background-image: url('https://uploadfile.huiyi8.com/2018/af/70/8a/4c/169804.jpg')
}

.h2_border{
    border-radius: 30px;
    color: #814e38;
    width:360px;
    height: 100px;
    line-height: 55px;
    font-size: 32px;
    margin-top: 28px;
    background-clip: padding-box;
    background-origin: padding-box;
    background-image: linear-gradient(135deg,#fff,#fff),linear-gradient(135deg, #ffcc99, #814e38);
    border: 2px transparent solid;
    border: 2px transparent;
}