<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    {#    <link rel="icon" href="../../favicon.ico">#}
    <title>单次模式</title>
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/uploads.css') }}">
</head>
<body >

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div>
            <ul class="nav nav-tabs">
                <a class="navbar-brand" href="{{ url_for('first') }}">首页&nbsp;&nbsp;</a>
                <a class="navbar-brand" href="{{ url_for('single') }}">单次模式&nbsp;&nbsp;</a>
                <a class="navbar-brand" href="{{ url_for('uploads') }}">文件模式&nbsp;&nbsp;</a>
                <a class="navbar-brand" href="{{ url_for('analyse') }}">统计分析</a>
                <a class="navbar-brand" href="#" style="float: right;margin-right: -10px;">用户</a>
                <a class="navbar-brand" href="{{ url_for('first') }}" style="float: right;margin-right: -100px;">&nbsp;&nbsp;退出</a>
            </ul>
        </div>
    </div>
</nav>
<div>
    <p>something important</p>
    <p> <br><br><br></p>
</div>


<div>
    <div class="container"
         style="float: left;width: 40%;height:450px;float:left; display:inline;justify-content: center;align-items: center;text-align:center;">
        <div class="form-group" style="text-align: center;justify-content: center;">
            <p></p>
            <label class="btn btn-default" href="#" role="textbox"
                   style="text-align: center;width: 350px;background-color: #6c757d;color: white">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>上传文件</label>
        </div>
        <div style="text-align: center;justify-content: center;">
            <p><a class="btn btn-default" href="#" type="photo" role="button"
                  style="text-align: center;width: 350px;height:300px;line-height: 300px;">点击选择图片</a></p>
        </div>
        <div style="text-align: center;justify-content: center">
            <p><a class="btn btn-default" href="#" type="submit" role="button"
                  style="text-align: center;width: 350px;background-color: #8ab5d6;color: white;">开始检测</a></p>
        </div>
    </div>

    <div style="width:40%; display:inline">
        <img src="{{ url_for('static',filename='images/defaulting3.png') }}" style="height: 400px;height: 400px;">
    </div>
    <div style="width: 20%;float:right; display:inline;text-align: left">
        <div>
        <img src="{{ url_for('static',filename='images/loading4.gif') }}" style="width: 200px;height: 180px;"><p></p>
        </div>
        <div>
        <label style="color: white">检测结果:</label></div>
        <div>
        <input type="text" style="color: white;width: 200px;"><p></p></div>
        <div>
        <label style="color: white">灰度值  :</label></div>
        <div><input type="text" style="color: white;width: 200px;"></div>
    </div>
</div>


</body>
</html>